{%
  set classes = [
  'item',
  'active',
]
%}

<!-- Slides -->
<div class="center-block">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for slide in slides %}
        {% set image_slide = {
          '#theme':      'image_style',
          '#style_name': 'filalapat_style_2400x1200',
          '#uri':        slide.uri,
          '#alt':        slide.filaname,
          '#attributes': { class: 'swiper-image' },
        } %}

        {%if loop.first %}

          <div{{ attributes.addClass(classes) }}>
            <div class="col-xs-4">
              {%if slide.link%}
                <a href="{{ slide.link }}">
                  {{ image_slide }}
                </a>
              {%else%}
                {{ image_slide }}
              {%endif%}
              {%if slide.corps %}
                <div class="carousel-caption d-none d-md-block gradient-bottom">
                  <h2 class="vw-3 title-position">{{ slide.corps|raw }}</h2>
                </div>
              {%endif%}
            </div>
          </div>

        {%else%}

          <div{{ attributes.addClass(classes).removeClass('active') }}>
            <div class="col-xs-4">
              {%if slide.link%}
                <a href="{{ slide.link }}">
                  {{ image_slide }}
                </a>
              {%else%}
                {{ image_slide }}
              {%endif%}
              {%if slide.corps %}
                <div class="carousel-caption d-none d-md-block gradient-bottom">
                  <h2 class="vw-3 title-position">{{ slide.corps|raw }}</h2>
                </div>
              {%endif%}
            </div>
          </div>

        {%endif%}
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-leftt" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-rightt" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
