
{#
 {#
.menu-account__link,
.menu-account__link:hover,
.menu-account__link:focus {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}.menu-account__link,
.menu-account__link:hover,
.menu-account__link:focus {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}/**
dfsdfdsgffgfdgfdgfdg* @file
* Default theme implementation to display a menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*
* @ingroup templates
*/
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass('menu', 'nav', 'navbar-right') }} id="menu-account">
  {% else %}
  <ul>
    {% endif %}
    {% for item in items %}
      {#{ item.title }#}

      <li{{ item.attributes }}>
        {%if item.title == 'Mon compte' %}
          <p><a href="{{ item.url }}"> <i class="fi-w20 fi-user-account" aria-hidden="true"></i></a></p>
        {%endif%}
        {%if item.title == 'Se déconnecter' %}
          <a class="hidden-xs" href="{{ item.url }}" style="color:#FFF; margin-top: 10px">Déconnexion</i></a>

        {% elseif item.title == 'Se connecter' %}
          <a href="{{ item.url }}"><span class="glyphicon glyphicon-user"></span></a>
        {% endif %}

        {#{ link(item.title, item.url, item.attributes.addClass('a-link')) }#}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
